// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

// Variables
$primary: #ff7b00;
$container: 1350px;

// Mixins
@mixin montserrat() {
    font-family: "Montserrat", sans-serif;
}

@mixin lato() {
    font-family: "Lato", sans-serif;
}

@mixin roboto() {
    font-family: "Roboto", sans-serif;
}

// Base Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    @include roboto();
}

html {
    scroll-behavior: smooth;
}

// Navbar
.navbar {
    width: 100vw;
    height: 100px;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: $container;
        margin: 0 auto;
        height: 100%;
        padding: 0 25px;
    }

    &__brand {
        display: flex;
        align-items: center;

        &-logo {
            width: 50px;
        }

        &-text {
            font-size: 1.75rem;
            color: #fff;
            margin-left: 20px;
            @include montserrat();
            text-transform: capitalize;
            font-weight: 600;
            letter-spacing: 2px;

            span {
                font-weight: 300;
            }
        }
    }

    &__list {
        display: flex;
        list-style: none;
        align-items: center;

        &-item:nth-child(n + 2) {
            margin-left: 20px;
        }
    }

    &__link {
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
        @include roboto();
        font-weight: 400;
        letter-spacing: 1px;
        transition: color 0.25s ease;

        &.active,
        &:hover {
            color: $primary;
        }
    }
}

// Header
.header {
    width: 100vw;
    height: 75vh;
    min-height: 775px;
    padding: 100px 0;
    background: url("../assets/images/header-bg.jpg") center/cover fixed
        no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        max-width: $container;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        color: #fff;
        @include montserrat();
        font-weight: 800;
        text-transform: uppercase;
        font-size: 3.5rem;
        text-align: center;

        span {
            color: $primary;
        }
    }

    &__text {
        color: #ccc;
        @include lato();
        font-weight: 300;
        width: 75%;
        margin: 1em auto;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.8em;
    }

    &__btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & > .btn:nth-child(2) {
            margin-left: 15px;
        }
    }

    &__svg {
        position: absolute;
        filter: invert(48%) sepia(90%) saturate(1772%) hue-rotate(360deg)
            brightness(101%) contrast(107%);
        bottom: -130px;
        left: 180px;
        transform: scale(0.75);
    }
}

// Button Styles
.btn {
    padding: 16px 30px;
    border: none;
    border-radius: 99px;
    text-decoration: none;
    @include montserrat();
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    top: 16px;
    cursor: pointer;
    display: block;
    transition: 0.25s ease-in-out;

    &.primary {
        color: #fff;
        background-color: $primary;
    }

    &.secondary {
        color: #222;
        background: #fff;
    }

    &:hover {
        opacity: 0.75;
    }

    i {
        margin-right: 5px;
    }
}

// Email section
.email-section {
    background: $primary;
    padding: 5em 20px;

    &__container {
        max-width: $container;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        color: #fff;
        @include lato();
        font-weight: 800;
        font-size: 1.75rem;
    }

    &__input-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 50px;
    }

    &__input {
        height: 100%;
        width: 350px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 99px 0 0 99px;
        padding-left: 24px;
        padding-top: 1px;
        font-size: 1rem;
        background-color: transparent;
        outline: none;
        transition: 0.25s ease;
        @include montserrat();

        &:focus {
            background-color: rgba(0, 0, 0, 0.15);
        }

        &::placeholder {
            color: #fff;
            opacity: 1;
        }
    }

    &__button {
        height: 100%;
        width: 75px;
        background-color: white;
        border: none;
        border-radius: 0 99px 99px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            color: $primary;
            font-size: 1.5rem;
            margin-right: 5px;
        }
    }
}
